[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
motor = "*"
openai = "*"
tornado-admin = "*"
aiofiles = "*"
reportlab = "*"
ujson = "*"

[dev-packages]

[requires]
python_version = "3"
